.principal-form {
    background-color: #181D40; 
    padding: 20px;
    border-radius: 10px;
    height: auto;
  }
  h1{
    color: aliceblue;
  }
  
  form {
    background-color: #ffffff71; 
    padding: 20px; 
    border-radius: 10px;
  }

  .logo {
    width: 220px;
    height: auto;
    margin: 20px auto 0 auto; 
    display: block;            
  }
  